<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirthdayNotifier.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BirthdayNotifier.Settings>
            <setting name="BirthdayTime" serializeAs="String">
                <value>2021-04-22</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFirework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TipShowTime" serializeAs="String">
                <value>2000</value>
            </setting>
        </BirthdayNotifier.Settings>
    </userSettings>
</configuration>